SECRET_KEY=<SECRET_KEY for Discord OAuth2>
CLIENT_ID=<CLIENT_ID for Discord OAuth2>
CLIENT_SECRET=<CLIENT_SECRET for Discord OAuth2>
REDIRECT_URI=<REDIRECT_URI for Discord OAuth2>
BOT_TOKEN=<BOT_TOKEN for Discord Bot>
DB_TYPE=<DB_TYPE for Discord Bot>
DB_URI=<DB_URI for Discord Bot>
DB_NAME=<DB_NAME for Discord Bot>
DB_USER=<DB_USER for Discord Bot>
DB_PASSWORD=<DB_PASSWORD for Discord Bot>
PROD=<Is Production>
NOTION_TOKEN=<NOTION_TOKEN for Notion>
CLIENT_URL=<CLIENT_URL for Admin Panel>
SUPER_SECRET_PASSWORD=<SUPER_SECRET_PASSWORD for authentication>
ALGORITHM = HS256
NOTION_API_KEY = <NOTION_API_KEY for Notion>
NOTION_DATABASE_ID = <NOTION_DATABASE_ID for Notion>
GOOGLE_SERVICE_ACCOUNT_JSON = <GOOGLE_SERVICE_ACCOUNT_JSON for Google Calender API>
GOOGLE_CALENDAR_ID = <GOOGLE_CALENDAR_ID for Calendar>
GOOGLE_USER_EMAIL = <GOOGLE_USER_EMAIL for Shareable Calendar>
SERVER_PORT = <SERVER_PORT for Admin Panel : 5000>
SERVER_DEBUG = <SERVER_DEBUG for Admin Panel>
TIMEZONE = <Timezone : 'America/Phoenix'>