:root {
  --soda-red: #ba3554;
  --soda-blue: #4462dc;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 60px;
  background-color: var(--soda-red);
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.open {
  width: 200px;
}

.close-btn {
  margin: 10px;
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-links button {
  background-color: var(--soda-blue);
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center; /* Center icons and text */
}

.sidebar-links button .icon {
  margin-right: 10px;
}

.sidebar-links button span {
  display: none; /* Initially hide text */
}

.sidebar.open .sidebar-links button span {
  display: inline; /* Show text when sidebar is open */
}

.sidebar-links button:hover {
  background-color: var(--soda-red);
}

.content {
  margin-left: 60px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.content.shrink {
  margin-left: 200px;
}

.leaderboard-container {
  padding: 20px;
}

.functions-container {
  margin-top: 20px;
}

button {
  background-color: var(--soda-blue);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: var(--soda-red);
}
