.sidebar {
    width: 60px;
    background-color: #ba3554; /* SoDA Red */
    height: 100vh;
    transition: width 0.3s ease;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar.open {
    width: 200px;
  }
  
  .close-btn {
    margin: 10px;
    font-size: 18px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .sidebar-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-links button {
    background-color: #4462dc; /* SoDA Blue */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  .sidebar-links button:hover {
    background-color: #5b6edc; /* Slightly lighter blue for hover effect */
  }
  
  .sidebar-links button .icon {
    margin-right: 10px;
  }
  
  .sidebar-links button span {
    display: none; /* Hide the text when the sidebar is collapsed */
  }
  
  .sidebar.open .sidebar-links button span {
    display: inline; /* Show the text when the sidebar is expanded */
  }
  